@import url(https://fonts.googleapis.com/css?family=Do+Hyeon);
@import url(https://fonts.googleapis.com/css?family=Nova+Slim);


:root{
    --main-col:#f25f5c;
    --sec-col:#ffe066;
    --ter-col:#d9f4ff;
    --font-col:#70c1b3;
    --dark-back:#222222;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Nova Slim', cursive;
}

a{
    text-decoration: none;
    color: var(--ter-col);
}

nav{
    background: var(--dark-back);
    border: 2px solid var(--dark-back);
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;    
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-bottom: var(--ter-col) dashed 1px;
}

nav #logo{
    font-size: 1.5em;
    font-weight: 10;
    font-family: 'Do Hyeon', sans-serif;
    margin-right: auto;
    margin-left:20px ;
    padding: 10px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    text-decoration-line: underline;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

#logo img{
    height: 50px;
    padding: 5px;
}


nav .nav-link{
    border: 2px solid rgb(43, 43, 43);
    padding: 10px;
    margin: 30px;
    background-color: rgb(22, 22, 22);

}

nav .nav-link:hover{
    background: var(--ter-col);
    color: var(--dark-back);
    transition: ease .4s;
}


/* welcome */

/* to fit background without repeat use bachground repeat with no repeat and use background size cover  */

#welcome-section{
    /* border: 2px springgreen solid; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 100, 0.2)), url('img/welcome.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:82px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;

}

#welcome-section:hover{
    color:rgb(153, 240, 255);
    transition: all .5s ease;
}

#welcome-section h1{
    font-size: 5em;
}

/* projects  */

#project-title{
    background: var(--dark-back);
    margin: 1px;
    padding: 20px;
    text-align: center;
    color: var(--ter-col);
}

#projects{
    border: black 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.project-tile{
    color: var(--dark-back);
    flex: 0 0 20%;
    margin: 10px;
    padding: 4px;
    box-shadow: 4px 4px 14px var(--dark-back);
    text-align: center;
}

.project-tile a{
    color: var(--dark-back);
}


@media(max-width:900px){
    

}



@media(max-width:500px){



}